#
# .gitignore
#

## BACKUP FILES ##

*~
*.bak
*.autosave


## BUILD ARTIFACTS ##

Makefile
Makefile.in
.deps
.libs
*.o
*.lo
*.la
*.pc
aclocal.m4
acinclude.m4
aminclude.am
m4/*.m4
autom4te.cache
config.h*
config.sub
config.log
config.status
config.guess
configure
depcomp
missing
ltmain.sh
install-sh
stamp-h1
libtool

.tarball-version
.version

.*.swp


## Generated Documentation ##

doc/doxygen/docbook/
doc/doxygen/html/
doc/doxygen/man/
doc/doxygen/latex/
doc/doxygen/rtf/
doc/doxygen/xml/
doc/doxygen/doxygen.log
doc/doxygen/doxytags.xml


## CMake-related Files ##

CMakeCache.txt
CMakeLists.txt.user
*/CMakeFiles
CMakeFiles
*.cmake


## CMake Build Directories ##

build-*/
/build-*/
